bootstrap/cache/services.php

storage/app/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*

vendor/**/test*
vendor/**/tests*
vendor/**/Tests*

**.git
**.gitignore
**.gitattributes
**.php-cs-fixer*
**.dockerignore
**.editorconfig

*.config.js
?ulpfile.js
?untfile.js
package.json
phpunit.xml
phpspec.yml
Dockerfile
